<ngx-loading [show]='loading' [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Pagos</h2>
    </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a>Pagos</a>
        </li>
        <li class="breadcrumb-item active">Pagos</li>
    </ul>
</div>

<!-- Forms Section-->
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <!-- Basic Form-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Formulario de Pagos</h3>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12 col-md-12 align-items-center">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" type="button" class="btn btn-white dropdown-toggle"> {{ select.dato }}  <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let data of busqueda" style="cursor: pointer;" (click)="selection(data)">{{ data.nombre }}</li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" #buscar="ngModel" [(ngModel)]="select.buscar">
                                    <span class="input-group-btn">
                                  <button type="button" class="btn btn-primary" (click)="buscarPago(select)" [disabled]="!select.buscar">Buscar</button>
                                </span>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div *ngIf="verDatos">
                            <!-- Basic Form-->
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">Datos del Estudiante</h3>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                                            <label class="form-control-label">Nombre</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ pago.alumno.nombre }}" disabled>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                                            <label class="form-control-label">Apellido</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ pago.alumno.apellido }}" disabled>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                                            <label class="form-control-label">Cedula</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ pago.alumno.cedula }}" disabled>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                                            <label class="form-control-label">Telefono</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ pago.alumno.tlf }}" disabled>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12">
                                                            <label class="form-control-label">Celular</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ pago.alumno.celular }}" disabled>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12">
                                                            <label class="form-control-label">Correo</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ pago.alumno.correo }}" disabled>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12">
                                                            <label class="form-control-label">Dirección</label>
                                                            <textarea rows="3" type="text" placeholder="Ingresa Nombre" class="form-control" disabled> {{ pago.alumno.direccion }} </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>



                            <div class="col-sm-12">
                                <div class="row">

                                    <!-- Basic Form-->
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="card">
                                            <div class="card-header d-flex align-items-center">
                                                <h3 class="h4">Cuatrimestre: {{ pago.recibo.matricula[0].nivel }}</h3>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <table class="table" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th width="5%">#</th>
                                                                                <th width="5%">U/C</th>
                                                                                <th class="text-center">Materia</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let data of pago.recibo.matricula[0].materias ; let i = index">
                                                                                <td scope="row">{{ i+1 }}</td>
                                                                                <td class="text-center">{{ data.unidad_credito }}</td>
                                                                                <td class="text-center">{{ data.nombre | uppercase }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="6">
                                                                                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary"> <i class="fa fa-print"></i> Imprimir </button>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-header d-flex align-items-center">
                                                <h3 class="h4">Pagos Realizados</h3>
                                            </div> 
                                            <div class="card-body">
                                                <table class="table table-striped table-sm">
                                                    <thead>
                                                        <tr *ngIf="pago.pago">
                                                            <th colspan="5">No posee pagos realizados</th>
                                                        </tr>
                                                        <tr *ngIf="!pago.pago">
                                                            <th>#</th>
                                                            <th>Recibo</th>
                                                            <th>Costo</th>
                                                            <th>Detalle</th>
                                                            <th>Fecha</th>
                                                            <th *ngIf="">Editar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <div *ngIf="!pago.pago">                                     
                                                        <tr *ngFor="let data of pago.pago ; let i = index" > 
                                                            <th scope="row">{{ i+1 }}</th>
                                                            <td>{{ data._id }}</td>
                                                            <td>{{ data.costo }}</td>
                                                            <td>{{ data.comentario }}</td>
                                                            <td *ngIf="">@mdo</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">
                                                                costo: {{ pago.recibo.costo }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">
                                                                Facturado: {{ pagado }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">
                                                                Resta:  {{  pagado - pago.recibo.costo }}
                                                            </td>
                                                        </tr>
                                                        </div>
                                                        <tr>
                                                            <td colspan="5">
                                                                <button type="button" class="btn btn-primary btn-block btn-sm" (click)="realizarPago()"><i class="fa fa-usd"> </i>  Realizar Pago </button>
                                                                 
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6" *ngIf="abrirRealizarPago">
                                        <div class="card">
                                            <div class="card-header d-flex align-items-center">
                                                <h3 class="h4"> Generar Pago</h3>
                                            </div>
                                            <div class="card-body">
                                                <form class="form-horizontal">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 form-control-label">Costo</label>
                                                        <div class="col-sm-9">
                                                            <input id="inputHorizontalWarning" type="number" placeholder="Costo" class="form-control form-control-warning" name="costo" [(ngModel)]="regPago.costo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 form-control-label">Comentario</label>
                                                        <div class="col-sm-9">
                                                            <input id="inputHorizontalSuccess" type="text" placeholder="Comentario" class="form-control form-control-success" name="comentario" [(ngModel)]="regPago.comentario">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                            <button type="button" class="btn btn-block bnt-sm btn-primary" (click)="guardarPago(pago, regPago)"> Pagar </button>
                                                            <br>
                                                            <button type="button" class="btn btn-info btn-sm pull-right" (click)="volver()"><i class="fa fa-refresh"></i> Volver </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-primary btn-block" (click)="guardarPago(pago)">Registrar Pago</button>
                            </div>

                        </div>

                        <!-- Modal-->
                        <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 id="exampleModalLabel" class="modal-title"> Documento no Fiscal </h4>
                                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                <span aria-hidden="true">×</span>
                                             </button>
                                    </div>
                                    <div class="modal-body" id="imprimir">
                                        <h2 class="text-center"> Comprobante de Pago </h2>
                                        <h4 class="text-center"> Documento no Fiscal </h4>
                                        <p class="h6"> Recibo: N°</p>
                                        <br>
                                        <h6>
                                            <p class="h6"> Nombre: {{ pago.alumno.nombre | uppercase }} {{ pago.alumno.apellido | uppercase}} </p>
                                            <p class="h6"> Cedula: {{ pago.alumno.cedula | uppercase }} </p>
                                            <p class="h6"> Celular: {{ pago.alumno.celular }} </p>
                                        </h6>
                                        <form>

                                            <hr>

                                            <table class="table" border="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Costo</th>
                                                        <th class="text-center">Detalle</th>
                                                        <th class="text-center"> Fecha </th>
                                                        <th>Pagar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of pago.pagos ; let i = index">
                                                        <td style="font-size: 9px">{{ i+1 }}</td>
                                                        <td style="font-size: 9px">{{ data.costo }}</td>
                                                        <td style="font-size: 9px">{{ data.nombre | uppercase }}</td>
                                                        <td style="font-size: 9px">{{ data.fecha | date: 'dd / MM / yyyy ' }}</td>
                                                        <td style="font-size: 9px" *ngIf="data.pagado"><button type="button" class="btn btn-block btn-success btn-sm" disabled> <i class="fa fa-usd" ></i> Cuota Pagada  <i class="fa fa-check" ></i> </button></td>
                                                        <td style="font-size: 9px" *ngIf="!data.pagado"><button type="button" class="btn btn-block btn-warning btn-sm" disabled> <i class="fa fa-usd" ></i> Cuota por Cancelar <i class="fa fa-remove" ></i> </button></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <h6>
                                                <p class="h6"> Monto Total: {{ costo }} </p>
                                                <p class="h6"> Abonado: {{ pagado }} </p>
                                                <p class="h6"> Saldo Pendiente: {{ costo - pagado }} </p>
                                            </h6>

                                            <br>

                                            <hr>
                                            <br>
                                            <h2 class="text-center"> Comprobante de Pago </h2>
                                            <h4 class="text-center"> Copia Documento no Fiscal </h4>
                                            <p class="h6"> Recibo: N° {{ pago.recibo._id }} </p>
                                            <br>
                                            <h6>
                                                <p class="h6"> Nombre: {{ pago.alumno.nombre | uppercase }} {{ pago.alumno.apellido | uppercase}} </p>
                                                <p class="h6"> Cedula: {{ pago.alumno.cedula | uppercase }} </p>
                                                <p class="h6"> Celular: {{ pago.alumno.celular }} </p>
                                            </h6>
                                            <hr>
                                            <table class="table" border="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Costo</th>
                                                        <th class="text-center">Detalle</th>
                                                        <th class="text-center"> Fecha </th>
                                                        <th>Pagar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of pago.pagos ; let i = index">
                                                        <td style="font-size: 9px">{{ i+1 }}</td>
                                                        <td style="font-size: 9px">{{ data.costo }}</td>
                                                        <td style="font-size: 9px">{{ data.nombre | uppercase }}</td>
                                                        <td style="font-size: 9px">{{ data.fecha | date: 'dd / MM / yyyy ' }}</td>
                                                        <td style="font-size: 9px" *ngIf="data.pagado"><button type="button" class="btn btn-block btn-success btn-sm" disabled> <i class="fa fa-usd" ></i> Cuota Pagada  <i class="fa fa-check" ></i> </button></td>
                                                        <td style="font-size: 9px" *ngIf="!data.pagado"><button type="button" class="btn btn-block btn-warning btn-sm" disabled> <i class="fa fa-usd" ></i> Cuota por Cancelar <i class="fa fa-remove" ></i> </button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h6>
                                                <p class="h6"> Monto Total: {{ costo }} </p>
                                                <p class="h6"> Abonado: {{ pagado }} </p>
                                                <p class="h6"> Saldo Pendiente: {{ costo - pagado }} </p>
                                            </h6>


                                        </form>

                                    </div>
                                    <br>
                                    <button type="button" class="btn btn-info btn-block btn-sm" (click)="download()"> <i class="fa fa-print"></i> Pdf </button>
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
