<ngx-loading [show]='loading' [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Matricula</h2>
    </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a>Matricula</a>
        </li>
        <li class="breadcrumb-item active">Matricula</li>
    </ul>
</div>

<!-- Forms Section-->
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <!-- Basic Form-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Formulario de Matricula</h3>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12 col-md-12 align-items-center">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" type="button" class="btn btn-white dropdown-toggle"> {{ select.dato }}  <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let data of busqueda" style="cursor: pointer;" (click)="selection(data)">{{ data.nombre }}</li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" #buscar="ngModel" [(ngModel)]="select.buscar">
                                    <span class="input-group-btn">
                                  <button type="button" class="btn btn-primary" (click)="buscarUsuario(select)" [disabled]="!select.buscar">Buscar</button>
                                </span>
                                </div>
                            </div>
                        </div>

                        <br>  

<div *ngIf="verDatos">
<!-- Basic Form-->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Datos del Estudiante</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <label class="form-control-label">Nombre</label>
                                <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ matricula.alumno.nombre }}" disabled>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <label class="form-control-label">Apellido</label>
                                <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ matricula.alumno.apellido }}" disabled>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <label class="form-control-label">Cedula</label>
                                <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ matricula.alumno.cedula }}" disabled>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <label class="form-control-label">Telefono</label>
                                <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ matricula.alumno.tlf }}" disabled>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label class="form-control-label">Celular</label>
                                <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ matricula.alumno.celular }}" disabled>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label class="form-control-label">Correo</label>
                                <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ matricula.alumno.correo }}" disabled>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <label class="form-control-label">Dirección</label>
                                <textarea rows="3" type="text" placeholder="Ingresa Nombre" class="form-control" disabled> {{ matricula.alumno.direccion }} </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                           
    <div class="col-sm-12">
        <div class="row">
    
            <!-- Basic Form-->
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Matriculas Inscritas</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <table class="table" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="5%">#</th>
                                                        <th class="text-center">Matricula</th>
                                                        <th class="text-center">Nivel</th>
                                                        <th class="text-center">Cuatrimestre</th>
                                                        <th class="text-center">Materias</th>
                                                        <th class="text-center">Finalizo</th>
                                                        <th width="10%">Editar</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let data of matricula.matri ; let i = index">
                                                    <tr>
                                                       <td scope="row">{{ i+1 }}</td>
                                                       <td  class="text-center"> {{ data._id }} </td>
                                                       <td class="text-center"> {{ data.matricula[0].nivel }} </td>
                                                       <td class="text-center"> {{ data.matricula[0].cuatrimestre }} </td>
                                                       <td class="text-center">
                                                        <div>
                                                        <table border="0">
                                                            <tr *ngFor="let data1 of data.matricula[0].materias">
                                                                <td  class="text-center">
                                                                   {{ data1.nombre }}
                                                                </td>
                                                            </tr>
                                                            </table>
                                                       </div>
                                                    </td>
                                                    <td class="text-center"> {{ data.finalizo }} </td>
                                                    <td class="text-center"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <div class="col-sm-12">
        <div class="row">

<!-- Basic Form-->
<div class="col-lg-12 col-sm-12 col-md-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Cuatrimestre</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <label class="form-control-label">Nivel de Curso</label>
                            <select class="form-control" data-placeholder="nivel" #nivel="ngModel" name="nivel" [(ngModel)]="matricula.nivel" (change)="selectAno(matricula.nivel)"
                                required>
                                <option *ngFor="let data of ano_Curso" [value]="data.nivel">{{data.nivel}}</option>
                            </select>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <label class="form-control-label">Año de Curso</label>
                                <select class="form-control" data-placeholder="nivel" #anoCurso="ngModel" name="anoCurso" [(ngModel)]="matricula.ano_curso" (change)="selectMateria(matricula)"
                                    required>
                                    <option *ngFor="let data of selectAnoCurso" [value]="data.nombre">{{data.nombre}}</option>
                                    </select>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <label class="form-control-label">Costo del Cusro</label>
                                <input type="number" placeholder="Costo del Cusro" class="form-control" name="costo" [(ngModel)]="matricula.costo">
                            </div>
                             <div class="col-md-12 col-sm-12 col-lg-12">
                                <table class="table" width="100%">
                                 <thead>
                                        <tr>
                                            <th width="5%">#</th>
                                            <th width="5%">UC</th>
                                            <th class="text-center">Materia</th>
                                            <th  width="10%">Editar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of matricula.materias ; let i = index">
                                            <td scope="row">{{ i+1 }}</td>
                                            <td class="text-center">{{ data.unidad_credito }}</td>
                                            <td class="text-center">{{ data.nombre | uppercase }}</td>
                                            <td><button type="button" class="btn btn-block btn-danger btn-sm" (click)="eliminar(data)"> <i class="fa fa-remove" ></i> </button></td>
                                        </tr>
                                        <tr *ngIf="!abrirMat">
                                            <td colspan="3">
                                                <div class="pull-right">
                                                   <button type="button" class="btn btn-primary btn-sm" (click)="agregarMateria()" [disabled]="!activarMat"> Agregar Materia</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="abrirMat">
                                            <td colspan="3">
                                            <select  class="form-control"  #mater="ngModel" name="mater" [(ngModel)]="matricula.agregarMat" (change)="selectMat(matricula.agregarMat)" >
                                            <option *ngFor="let data of materia" [value]="data._id"> {{ data.nombre }} {{ data._id }} </option>
                                            </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                             </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
</div>
               
<div class="col-sm-12 col-md-12 col-lg-12">
    <button type="button" class="btn btn-primary btn-block" (click)="guardar(matricula)" >Registrar</button>
</div>

</div>

                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>