<ngx-loading [show]='loading' [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Pagos</h2>
    </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a>Pagos</a>
        </li>
        <li class="breadcrumb-item active">Pagos</li>
    </ul>
</div>

<!-- Forms Section-->
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <!-- Basic Form-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Formulario de Pagos</h3>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12 col-md-12 align-items-center">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" type="button" class="btn btn-white dropdown-toggle"> {{ select.dato }}  <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let data of busqueda" style="cursor: pointer;" (click)="selection(data)">{{ data.nombre }}</li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" #buscar="ngModel" [(ngModel)]="select.buscar">
                                    <span class="input-group-btn">
                                  <button type="button" class="btn btn-primary" (click)="buscarProf(select)" [disabled]="!select.buscar">Buscar</button>
                                </span>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div *ngIf="verDat">
                            <!-- Basic Form-->
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">Datos del Estudiante</h3>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                                            <label class="form-control-label">Nombre</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ prof.nombre }}" disabled>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                                            <label class="form-control-label">Apellido</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ prof.apellido }}" disabled>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                                            <label class="form-control-label">Cedula</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ prof.cedula }}" disabled>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-lg-4">
                                                            <label class="form-control-label">Telefono</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ prof.tlf }}" disabled>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12">
                                                            <label class="form-control-label">Celular</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ prof.celular }}" disabled>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12">
                                                            <label class="form-control-label">Correo</label>
                                                            <input type="text" placeholder="Ingresa Nombre" class="form-control" value="{{ prof.correo }}" disabled>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12">
                                                            <label class="form-control-label">Dirección</label>
                                                            <textarea rows="3" type="text" placeholder="Ingresa Nombre" class="form-control" disabled> {{ prof.direccion }} </textarea>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12">
                                                            <button type="button" class="btn btn-primary" (click)="pagoVer()"> <i class="fa fa-usd"></i> Pagar </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="verPago">
                                <form>
                            
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <label class="form-control-label">Pago</label>
                                                <input type="number" placeholder="Ingresa Pago" class="form-control" #costo="ngModel" name="costo" [(ngModel)]="pagar.costo">
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <label class="form-control-label">Costo Comida</label>
                                                <input type="number" placeholder="Ingresa Costo Comida" class="form-control" #comida="ngModel" name="comida" [(ngModel)]="pagar.comida">
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <label class="form-control-label">Comentario</label>
                                                <input type="text" placeholder="Ingresa Comentario" class="form-control" #comentario="ngModel" name="comentario" [(ngModel)]="pagar.comentario">
                                            </div>
                            
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <br>
                                                <button type="button" class="btn btn-primary btn-block btn-sm" (click)="guardarPago(prof, pagar)">
                                                    <i class="fa fa-print"></i> Generar Pago </button>
                                            </div>
                            
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <br>
                                                <button type="button" class="btn btn-info btn-sm pull-right" (click)="volver()">
                                                    <i class="fa fa-refresh"></i> Volver </button>
                                            </div>
                                        </div>
                            
                                    </div>
                                </form>
                            </div>



                            <div class="col-sm-12">
                                <div class="row">

                                    <!-- Basic Form-->
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="card">
                                            <div class="card-header d-flex align-items-center">
                                                <h3 class="h4">Pagos Realizados</h3>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                    <div *ngIf="!verPago">
                                                                        <table class="table" width="100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th width="5%">#</th>
                                                                                    <th width="10%">Recibo</th>
                                                                                    <th width="10%">Pago</th>
                                                                                    <th width="10%">Comida</th>
                                                                                    <th class="text-center">Detalle</th>
                                                                                    <th class="text-center"> Fecha </th>
                                                                                    <th width="10%">Imprimir</th>
                                                                                    <th width="10%" *ngIf="usuario.nivel === 'ADMIN'">Editar</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr *ngFor="let data of pagos | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index">
                                                                                    <td scope="row">{{ i+1 }}</td>
                                                                                    <td class="text-center"> Nº {{ data._id }} </td>
                                                                                    <td class="text-center">{{ data.costo }} $</td>
                                                                                    <td class="text-center">{{ data.comida }} $</td>
                                                                                    <td class="text-center">{{ data.comentario | uppercase }}</td>
                                                                                    <td class="text-center">{{ data.creado | date: 'dd / MM / yyyy ' }}</td>
                                                                                    <td><button type="button" class="btn btn-block btn-warning btn-sm" (click)="download(prof, data)"> <i class="fa fa-print" ></i> </button></td>
                                                                                    <td *ngIf="usuario.nivel === 'ADMIN'"><button type="button" class="btn btn-block btn-danger btn-sm" (click)="eliminarPagoProf(prof, data)"> <i class="fa fa-trash" ></i> </button></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td colspan="7">
                                                                                        <div class="pull-right">
                                                                                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>

                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>