<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Dashboard</h2>
  </div>
</header>


    <!-- Dashboard Counts Section-->
    <section class="dashboard-counts no-padding-bottom">
      <div class="container-fluid">
        <div class="row bg-white has-shadow">
          <!-- Item -->
          <div class="col-xl-6 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-violet">
                <i class="icon-user"></i>
              </div>
              <div class="title">
                <span>Nuevos 
                  <br>Estudiantes</span>
              </div>
              <div class="number">
                <strong>{{ datos.alumno }}</strong>
              </div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-6 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-red">
                <i class="icon-padnote"></i>
              </div>
              <div class="title">
                <span>Nuevos
                  <br>Profesores</span>
              </div>
              <div class="number">
                <strong>{{ datos.profesor }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Dashboard Header Section    -->

<!-- Charts Section-->
<!--
<section class="charts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="line-chart-example card">
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Line Chart Example</h3>
          </div>
          <div class="card-body">
            <canvas id="lineChartExample"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="bar-chart-example card">
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Bar Chart Example</h3>
          </div>
          <div class="card-body">
            <canvas id="barChartExample"></canvas>
          </div>
        </div>
      </div>
       Doughnut Chart 
     
    </div>
  </div>
</section>-->