<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Profesor</h2>
  </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a>Usuario</a>
    </li>
    <li class="breadcrumb-item active">Registro</li>
  </ul>
</div>

<!-- Forms Section-->
<section class="forms">
  <div class="container-fluid">
    <div class="row">
      <!-- Basic Form-->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-close">
            <div class="dropdown">
              <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow">
                <a href="#" class="dropdown-item remove">
                  <i class="fa fa-times"></i>Close</a>
                <a href="#" class="dropdown-item edit">
                  <i class="fa fa-gear"></i>Edit</a>
              </div>
            </div>
          </div>
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Formulario de Profesor</h3>
          </div>
          <div class="card-body">
            <form #profesorForm="ngForm">
              <div class="form-group">
                <label class="form-control-label">Nombre</label>
                <input type="text" placeholder="Ingresa Nombre" class="form-control" #nombre="ngModel" [(ngModel)]="profesor.nombre" name="nombre"
                  required minlength="4">
                <span *ngIf="!nombre.valid && nombre.touched" class="text-danger">El nombre es obligatorio</span>
              </div>
              <div class="form-group">
                <label class="form-control-label">Apellido</label>
                <input type="text" placeholder="Ingresa Apellido" class="form-control" #apellido="ngModel" [(ngModel)]="profesor.apellido"
                  name="apellido" required pattern="[A-Za-z]*">
                <span *ngIf="!apellido.valid && apellido.touched" class="text-danger">El apellido es obligatorio</span>
              </div>
              <div class="form-group">
                <label class="form-control-label">Cedula</label>
                <input type="text" placeholder="Ingresa Cedula" class="form-control" #cedula="ngModel" name="cedula" [(ngModel)]="profesor.cedula"
                  required (blur)="validarCedula(profesor)">
                <span *ngIf="!cedula.valid && cedula.touched" class="text-danger">La cedula es obligatorio</span>
                <span *ngIf="validCedula" class="text-info">Cedula ya Registrado</span>
              </div>
              <div class="form-group">
                <label class="form-control-label">Telefono</label>
                <input type="text" placeholder="Ingresa Cedula" class="form-control" #tlf="ngModel" name="tlf" [(ngModel)]="profesor.tlf">
                <span *ngIf="!tlf.valid && tlf.touched" class="text-danger">La cedula es obligatorio</span>
              </div>
              <div class="form-group">
                <label class="form-control-label">Celular</label>
                <input type="text" placeholder="Ingresa Celular" class="form-control" #celular="ngModel" name="celular" [(ngModel)]="profesor.celular" required>
                <span *ngIf="!celular.valid && celular.touched" class="text-danger">La cedula es obligatorio</span>
              </div>
              <div class="form-group">
                <label class="form-control-label">Correo</label>
                <input type="text" placeholder="Ingresa Correo" class="form-control" #correo="ngModel" name="correo" [(ngModel)]="profesor.correo"
                  (blur)="validarCorreo(profesor)" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
                <span *ngIf="!correo.valid && correo.touched" class="text-danger">Email no es correcto</span>
                <span *ngIf="validCorreo" class="text-info">Correo ya Registrado</span>
              </div>
              <div class="form-group">
                <label class="form-control-label">Direccion</label>
                <textarea type="text" placeholder="Ingresa Direccion" class="form-control" #direccion="ngModel" name="direccion" [(ngModel)]="profesor.direccion"
                   required rows="4" ></textarea>
                <span *ngIf="!direccion.valid && direccion.touched" class="text-danger">Email no es correcto</span>
              </div>
              <div class="form-group">
                <button type="button" (click)="guardar(profesor)" class="btn btn-primary btn-block" [disabled]="profesorForm.form.invalid || validCorreo || validCedula">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>